In this folder you can add PlantUML diagrams (**`*.puml`** files).

When building the project (**`nmk`** command), your diagram images will be generated in the `doc/diagrams` folder, ready to be included in your documentation.

See [PlantUML documentation](https://plantuml.com/) for more details about the **`*.puml`** files syntax.
