{
  "plantuml.diagramsRoot": "{{plantUmlDiagramsFolder}}",
  "plantuml.exportOutDir": "{{plantUmlOutputFolder}}",
  "plantuml.jar": "{{plantUmlLocalPath}}",
  "plantuml.java": "{{javaRuntime}}",
  "plantuml.render": "Local"
}